<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Добро пожаловать в Computer Store</h1>
    <nav>
        <ul>
            <li><a href="/customers">Список клиентов</a></li>
            <li><a href="/orders">Список заказов</a></li>
            <li><a href="/categories">Список категорий</a></li>
            <li><a href="/orderdetails">Детали заказов</a></li>
            <li><a href="/products">Список продуктов</a></li>
        </ul>
    </nav>
</body>
</html>
